<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- Pastikan link ke CSS Anda benar -->
</head>
<body>
    <form method="post" action="/auth/register" class="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"></input>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="********">

        <button type="submit">Submit</button>
    </form>
</body>
</html>
